@import '../../variables.scss';

.notes {
  //max-height: 200px;
  overflow: auto;
}

.buttonsRow {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.row {
  margin-bottom: 20px;
}

.card {
  background: #fbfbfb;
}

.fee {
  span {
    margin-left: 10px;
    font-weight: bold;

    &:last-child {
      color: #02c102;
      font-size: 16px;
    }
  }
}

.shipmentFee {
  padding: 0 4px;
  background: #f5f5f5;
  border-radius: 3px;
  font-size: 14px;
  color: #2576ca;
  margin: 0 10px;

  span {
    margin-left: 10px;
    font-weight: bold;

    &:last-child {
      color: #0053a9;
      font-size: 14px;
    }
  }
}

.status {
  font-weight: bold;
}

.inlineForm {
  align-items: center;
}

.icon {
  color: $lightBlue;
  margin: 5px 10px;
  font-size: 2em;
}

.deliveryDate {
  padding: 0 4px;
  background: #f5f5f5;
  border-radius: 3px;
  font-size: 15px;
  color: blueviolet;
  margin: 0 10px;
}

.shipmentStatus {
  padding: 0 4px;
  background: #f5f5f5;
  border-radius: 3px;
  font-size: 15px;
  color: #005b9c;
}

.button {
  margin-right: 10px;
}

.select {
  min-width: 200px;
}

.modal label {
  min-width: 100px;
}

.shipments {
  margin-bottom: 15px;

  :global {
    .ant-card-head {
      border-left: 5px solid #4cc74c;
      border-bottom-width: 0;
      box-shadow: 0 2px 3px 0 #e8e8e8b0;
    }
  }
  .status {
    padding-right: 4px;
  }
  .title {
    color: rgba(0, 0, 0, 0.65);
  }
  .featureImage {
    width: 130px;
    padding-right: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;

    img {
      max-height: 110px;
      max-width: 110px;
    }
  }
  .details {
    flex: 1;
  }
}

.shippingCard {
  //height: 100%;
}
