@import '../../variables';

.row {
  margin-bottom: 20px;
  margin-left: 5px;
}

.card {
  background: #fbfbfb;
}

.flex {
  display: flex;
  flex-flow: row wrap;
}

.imgMainBox {
  width: 300px;
  height: auto;
  border-radius: 4px;
  margin: 20px auto;
  border: 1px solid $textGrey;
  padding: 5px;
}

.imgBox {
  width: 250px;
  height: 250px;
  max-height: 250px;
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
  border: 1px solid $textGrey;
  text-align: center;
  color: inherit;

  &:hover {
    color: inherit;
    cursor: default;
  }
  img {
    height: 200px;
  }
  p {
    margin-top: 5px;
  }
}
